package ${repositoryPackageName};


import ${entityPackageName}.${entityFullName};
import org.springframework.stereotype.Repository;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;

/**
* 规范要求：凡是基于StringQuery方式的自定义的接口实现对象数据查询功能在此类进行编写
* 实现类: ./impl/${entityFullName}RepositoryImpl.java
*
* @author ${USER}
*/
public interface ${entityName}BaseRepository  {

    /**
    * 进行分页查询
    *
    * @param pageable 分页对象
    * @return 已分页的数据对象
    */
    Page<${entityFullName}> pagingBy(Pageable pageable);
}
