package ${servicePackageName};

import ${entityPackageName}.${entityFullName};
import com.ueboot.core.service.BaseService;
import org.springframework.data.domain.Page;
import org.springframework.data.domain.Pageable;

import java.util.Optional;

/**
 * 业务描述
 *
 * @author ${USER}
 */
public interface ${entityName}Service extends BaseService<${entityFullName}> {

    /**
    *  进行分页查询
    *
    * @param pageable 分页对象
    * @return 已分页的数据对象
    */
    Page<${entityFullName}> pagingBy(Pageable pageable);

    /**
    *  根据ID查找对象
    *  案例根据业务需要进行删除
    *
    * @param id 主键ID
    * @return  对象
    */
    Optional<${entityFullName}> findById(Long id);
}
