/*
* Copyright (c)  ${YEAR}
* All rights reserved.
* ${DATE}
*/
package ${controllerPackageName}.vo;


import lombok.Getter;
import lombok.Setter;
import lombok.NoArgsConstructor;

/**
 * 用于前端发起查询请求时，接收请求参数
 * Created on ${DATE}
 * @author ${USER}
 * @since 2.1.0 by ueboot-generator
 */
@Setter
@Getter
@NoArgsConstructor
public class ${entityName}FindReq {
#foreach($object in ${fields})
    private $object.type $object.name;
#end
}