/*
* Copyright (c)  ${YEAR}
* All rights reserved.
* ${DATE}
*/
package ${controllerPackageName}.vo;


import lombok.Getter;
import lombok.Setter;
import lombok.NoArgsConstructor;
import org.hibernate.validator.constraints.*;

/**
 * 用于前端发起对象保存和更新请求时，接收请求参数
 * Created on ${DATE}
 * @author ${USER}
 * @since 2.1.0 by ueboot-generator
 */
@Setter
@Getter
@NoArgsConstructor
public class ${entityName}Req {
#foreach($object in ${fields})
  #if($object.type.equals("String"))
  @NotBlank
  #end
  private $object.type $object.name;
#end
}