/*
* Copyright (c)  ${YEAR}
* All rights reserved.
* ${DATE}
*/
package ${controllerPackageName}.vo;


@Setter
@Getter
import lombok.NoArgsConstructor;

/**
* Created on ${DATE}.
* @author ${USER}
* @since 2.1.0 by ueboot-generator
*/
@Setter
@Getter
@NoArgsConstructor
public class ${entityName}Resp {
#foreach($object in ${fields})
    private $object.type $object.name;
#end
}